<!DOCTYPE html>
<!--
    Title: Assignment 4.2 - Pets-R-Us - header.html.
    Author: Jamal Eddine Damir
    Date: September 10, 2022
    Description: Header partial to be included in every page.
    Sources: 
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->
< lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inria+Sans&family=Inter:wght@500;800&family=Ultra&display=swap"
		rel="stylesheet"
	/>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	/>
	<title>Welcome to Pets-R-Us</title>
	<link href="styles/site.css" type="text/css" rel="stylesheet" />
</head>
<!-- Element containing main navigation link and company name/logo-->
<header>
	<!-- Company name/logo with link to landing page-->
	<div id="logo"><a href="/">Pets-R-Us!</a></div>
	<!-- Navigation links with drop down links for services-->
	<div class="nav">
		<div class="dropdown">
			<button class="dropbtn">Services</button>
			<div class="sub-services">
				<a href="/grooming">Grooming</a>
				<a href="/boarding">Boarding</a>
				<a href="/training">Training</a>
			</div>
		</div>
		<a href="/registration">Registration</a>
		<a href="/customers">Customer List</a>
		<a href="#">Booking</a>
		<a href="#">My Appointments</a>
	</div>
</header>
