<!--
    Title: Assignment 4.5 - Pets-R-Us - appointment.html.
    Author: Jamal Eddine Damir
    Date: October 07, 2022
    Description: HTML document for Pets-R-Us booking page.
    Sources: 
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->
<!-- Header include with navigation links -->
<%- include('./partials/_header.html') %>

<div id="registration">
	<!-- div containing form header, instructions and elements-->
	<div id="form-container">
		<h1>My Appointments</h1>
		<div class="form-field">
			<label for="email">Email</label>
			<input
				type="email"
				id="email"
				name="email"
				placeholder="Please enter you email"
				required
			/>
		</div>
		<br />
		<div class="form-field">
			<!-- Button to trigger search for appointments-->
			<button type="submit" id="btnSearch">Search Appointments</button>
		</div>
		<!-- Div displaying appointment data-->
		<div id="displayAppointment"></div>
	</div>
</div>
<script>
	// Onclick event to search for appointment
	document.getElementById("btnSearch").onclick = function () {
		const customerEmail = document.getElementById("email").value;

		// Searching appointments collection for inputed email
		fetch("/api/appointments/" + customerEmail)
			.then((res) => res.json())
			.then((data) => {
				// Starting table with header
				let tableString = `<h2>My Appointments</h2><table id="Appointments"><tr><th>First name</th><th>Last name</th><th>Service</th></tr>`;

				for (let appointment of data) {
					// Populating tableString with appointment related data
					tableString += `<tr><td>${appointment.firstName}</td><td>${appointment.lastName}</td><td>${appointment.services}</td></tr>`;
				}
				// Closing table tag
				tableString += `</table>`;

				// Binding results of tableString to displayAppointment Div
				document.getElementById("displayAppointment").innerHTML = tableString;
			});
	};
</script>

<!-- Footer element with copyright info-->
<%- include('./partials/_footer.html')%>
