<%- include('./partials/_header.html') %>
<!-- Boarding page main header-->
<div id="boarding-h1">
	<h1>
		<i class="fa fa-paw"></i>&emsp;Boarding at Pets-R-Us&emsp;<i
			class="fa fa-paw"
		></i>
	</h1>
</div>
<!-- Boarding page main paragraph-->
<div id="boarding-paragraph">
	<p>
		At Pets-R-Us we love animals. It is our goal to make their stays with us a
		memorable one. Our boarding service is designed to provide your furry
		friends with the love and the care they deserve.<br />By staying with us,
		your pet will receive a treatment that is similar to that which you would
		use at home with a complete pet boarding service, including playtime,
		boarding, grooming and more to ensure you have peace of mind when you are
		away from you pet. We will ensure that all their needs are met. Pets-R-Us
		dog boarding service is an affordable, friendly, and safe boarding option
		for you and your pets. We take pride in what we do and we follow the highest
		safety standards. We offer multiple boarding options to meet your needs.
	</p>
</div>
<!-- Boarding fees section-->
<div id="boarding-h2"><h2>Our Prices</h2></div>

<!-- Div containing the three pricing divs -->
<div id="boarding-fees">
	<div class="boarding-fees-divs">
		<h3><u>One Dog</u></h3>
		<p>
			<b>Five Nights</b>
			<br />
			<br />
			$40/Night
			<br />
			<br />
			<b>Over Five Nights</b><br /><br />
			$35/Night
		</p>
	</div>
	<div class="boarding-fees-divs">
		<h3><u>Two Dogs</u></h3>
		<p>
			<b>Five Nights</b>
			<br />
			<br />
			$70/Night
			<br />
			<br />
			<b>Over Five Nights</b><br /><br />
			$55/Night
		</p>
	</div>
	<div class="boarding-fees-divs">
		<h3><u>Three Dogs</u></h3>
		<p>
			<b>Five Nights</b>
			<br />
			<br />
			$90/Night
			<br />
			<br />
			<b>Over Five Nights</b><br /><br />
			$60/Night
		</p>
	</div>
</div>
<!-- Including footer partial-->
<%- include('./partials/_footer.html')%>
