<!--
    Title: Assignment 4.2 - Pets-R-Us - grooming.html.
    Author: Jamal Eddine Damir
    Date: September 10, 2022
    Description: HTML document for Pets-R-Us grooming page.
    Sources:
            * W3Schools.com
-->
<!-- Header include with navigation links -->
<%- include('./partials/_header.html') %>
<!-- Container for grooming page main content-->
<container id="grooming-container">
	<h1 id="grooming-h1">The Grooming your Pet Deserves</h1>
	<div id="grooming-services">
		<!-- Grooming page main image-->
		<img
			id="grooming-image"
			src="images/reba-spike-nAedTCXPdeg-unsplash.jpg"
			alt="Image of dog being groomed"
		/>

		<!-- Div containing services and pricing-->
		<div id="pricing-container">
			<div class="pricing">
				<h2>Bath & Brush</h2>
				<p>Starting from $30 Depending on your pet's Breed and Size</p>
			</div>
			<div class="pricing">
				<h2>De-Shedding</h2>
				<p>Starting from $20 Depending on your pet's Breed and Size</p>
			</div>
			<div class="pricing">
				<h2>Ear Cleaning</h2>
				<p>Starting from $10 Depending on your pet's Breed and Size</p>
			</div>
			<div class="pricing">
				<h2>Nail Trimming</h2>
				<p>Starting from $10 Depending on your pet's Breed and Size</p>
			</div>
		</div>
	</div>
</container>
<!-- Footer element with copyright info-->
<%- include('./partials/_footer.html')%>
