<%- include('./partials/_header.html') %>

<!-- training main header-->
<div id="boarding-h1">
	<h1>
		<i class="fa fa-paw"></i>&emsp;Training at Pets-R-Us&emsp;<i
			class="fa fa-paw"
		></i>
	</h1>
</div>
<!-- Training main paragraph-->
<div id="boarding-paragraph">
	<p>
		Pets-R-Us offers a full service dog training service that specializes in
		treating all types of behavioral issues, including aggressive behaviors. Our
		mission is to ensure the safety and happiness of your beloved companion. We
		use positive reinforcement techniques with reward based training methods,
		which will help gain trust and develop the relationship between you and your
		dog.<br />
		All dogs need regular exercise, socialization and training in order to
		develop their well-being, confidence and personality. Our trainers provide
		training to increase your dog’s intelligence, develop problem-solving
		skills, make them more obedient and confident and reduce fear and
		aggression. We are ready to help you with any training needs you may have.
		We offer professional one-on-one dog training, agility classes and lessons,
		and we provide personalized training plans every step of the way.
	</p>
</div>
<!-- Trainers Header-->
<div class="h2-containers"><h2>Meet Our Trainers</h2></div>

<!-- Div containing trainers' bios-->
<div id="trainers">
	<div class="training-divs">
		<img
			class="trainers-images"
			src="images/michael-tomaszewski-e1zCiCr6SHQ-unsplash.jpg"
			alt="Image of Dog trainer Cassandra."
		/>
		<h3><u>Casandra</u></h3>
		<p>
			My name is Casandra, and I'm a dog trainer at Pets-R-Us. I love helping
			dog owners train their dog. When you don't know how to train your pet, it
			can be hard to connect with them and turn the bond into something
			meaningful and rewarding. <br />To help dog owners build those connections
			with their pets and learn how to communicate effectively with them, I
			focus on using positive reinforcement methods in order to teach your dog
			what you want them to do.
		</p>
	</div>
	<div class="training-divs">
		<img
			class="trainers-images"
			src="images/talen-de-st-croix-0hHTTow00w4-unsplash.jpg"
			alt="Image of Dog trainer Jack."
		/>
		<h3><u>Jack</u></h3>
		<p>
			Hello, I'm Jack, and I specialize in training dogs. It can be confusing
			for a dog owner to know how to train their dog without knowing how it
			thinks or feels. To help people understand and connect with their pets I
			use positive reinforcement to teach them what they want from their
			dogs.<br />
			When you love your dog but feel like you're struggling to communicate
			effectively, I can help!
		</p>
	</div>
	<div class="training-divs">
		<img
			class="trainers-images"
			src="images/manuel-meza-KvKop_a_EXw-unsplash.jpg"
			alt="Image of Dog trainer Nancy."
		/>
		<h3><u>Nancy</u></h3>
		<p>
			Hi! I am Nancy and I'm a dog trainer at Pets-R-Us. I will help you build a
			meaningful bond with your four-legged friend and teach you how to train
			your dog. If you're having trouble connecting with your puppy or unsure of
			how to train them, I will train them using methods that are proven to be
			effective. These methods will also help your dog build his confidence and
			encourages him to connect with you, allowing you to have the most
			rewarding relationship possible.
		</p>
	</div>
</div>

<!-- Training packages header-->
<div class="h2-containers"><h2>Training Packages</h2></div>

<!-- Div containing divs with training package pricing-->
<div id="training-fees-container">
	<div class="training-fees-divs">
		<h3>Puppies&emsp;&emsp;&nbsp;</h3>
		<hr />

		<!-- Table for training packages pricing-->
		<table>
			<tr>
				<th>Basic Package</th>
				<th>Premium Package</th>
			</tr>
			<tr>
				<td>$100</td>
				<td>$175</td>
			</tr>
		</table>
	</div>
	<div class="training-fees-divs">
		<h3>Adolescents</h3>
		<hr />
		<table>
			<tr>
				<th>Basic Package</th>
				<th>Premium Package</th>
			</tr>
			<tr>
				<td>$150</td>
				<td>$230</td>
			</tr>
		</table>
	</div>
	<div class="training-fees-divs">
		<h3>Adults&emsp;&emsp;&emsp;&nbsp;</h3>
		<hr />
		<table>
			<tr>
				<th>Basic Package</th>
				<th>Premium Package</th>
			</tr>
			<tr>
				<td>$200</td>
				<td>$290</td>
			</tr>
		</table>
	</div>
</div>

<%- include('./partials/_footer.html')%>
